<launch>
    <param name="robot_description" textfile="$(find ur_description)/urdf/ur10_robot.urdf" />
    <arg name="gui" default="true" />
    <param name="use_gui" value="$(arg gui)"/>
 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find ur_description)/config/control.yaml" command="load" />
        <param name="sim" value="true" />
    </node>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find demo02_urdf_gazebo)/worlds/hello.world" /> -->
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args = "-d $(find ur_description)/config/config.rviz" required="true" /> -->
</launch>