<!-- 组合小车底盘与摄像头 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="Inertia_matrix.urdf.xacro" />
    <xacro:include filename="platform.urdf.xacro" />
    <xacro:include filename="camera.urdf.xacro" />
    <xacro:include filename="my_laser.urdf.xacro" />
</robot>
