<?xml version="1.0" ?>
<launch>
  <!-- Launch Gazebo  -->
  <include file="$(find my_controller)/launch/ur5_arm_world.launch" />   
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_controller)/config/ur5_my_controller.yaml" command="load"/>
	<!-- Spaw the controller -->
  <node name="my_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/ur5bh" args="shoulder_pan_joint_controller shoulder_lift_joint_controller elbow_joint_controller
  wrist_1_joint_controller wrist_2_joint_controller wrist_3_joint_controller"/>
<!-- 
  <node name="my_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen"  ns="ur5bh" args="joint_state_controller
  bh_j11_joint_controller bh_j12_joint_controller bh_j13_joint_controller
  bh_j21_joint_controller bh_j22_joint_controller bh_j23_joint_controller
  bh_j31_joint_controller bh_j32_joint_controller bh_j33_joint_controller 
  "/> -->
</launch>
